<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- created with http://www.physicseditor.de -->

<plist version="1.0">
	<dict>
		<key>numOfOneLevel</key>
		<string>2</string>
		<key>maxLevelNum</key>
		<string>5</string>
		
		<key>reverseTime</key>
		<string>20</string>
		
		<key>FrozenMushroon</key>
		<dict>
			<key>frozenTimeByLevel</key>
			<dict> 
				<key>level0</key>
				<string>10</string>
				<key>level1</key>
				<string>20</string>
				<key>level2</key>
				<string>30</string>
				<key>level3</key>
				<string>40</string>
				<key>level4</key>
				<string>50</string>
				<key>level5</key>
				<string>60</string>
			</dict>
			<key>LevelUpGoldNum</key>
			<dict>
				<key>level0</key>
				<string>340</string>
				<key>level1</key>
				<string>750</string>
				<key>level2</key>
				<string>1100</string>
				<key>level3</key>
				<string>1620</string>
				<key>level4</key>
				<string>2650</string>
				<key>level5</key>
				<string>0</string>
			</dict>
			<key>description</key>
			<dict>
				<key>level0</key>
				<string>冰冻效果持续时间增加2秒</string>
				<key>level1</key>
				<string>冰冻效果持续时间增加3秒</string>
				<key>level2</key>
				<string>冰冻效果持续时间增加4秒</string>
				<key>level3</key>
				<string>冰冻效果持续时间增加5秒</string>
				<key>level4</key>
				<string>冰冻效果持续时间增加6秒</string>
				<key>level5</key>
				<string>已经升级至顶级</string>
			</dict>
		</dict>
		
		<key>GoldMushroon</key>
		<dict>
			<key>GoldNumByLevel</key>
			<dict>
				<key>level0</key>
				<string>10</string>
				<key>level1</key>
				<string>15</string>
				<key>level2</key>
				<string>20</string>
				<key>level3</key>
				<string>25</string>
				<key>level4</key>
				<string>30</string>
				<key>level5</key>
				<string>40</string>
			</dict>
			<key>LevelUpGoldNum</key>
			<dict>
				<key>level0</key>
				<string>140</string>
				<key>level1</key>
				<string>250</string>
				<key>level2</key>
				<string>600</string>
				<key>level3</key>
				<string>1120</string>
				<key>level4</key>
				<string>2120</string>
				<key>level5</key>
				<string>0</string>
			</dict>
			<key>description</key>
			<dict>
				<key>level0</key>
				<string>踩中黄金蘑菇奖励增加至
				15金币</string>
				<key>level1</key>
				<string>踩中黄金蘑菇奖励增加至
				20金币</string>
				<key>level2</key>
				<string>踩中黄金蘑菇奖励增加至
				30金币</string>
				<key>level3</key>
				<string>踩中黄金蘑菇奖励增加至
				40金币</string>
				<key>level4</key>
				<string>踩中黄金蘑菇奖励增加至
				50金币</string>
				<key>level5</key>
				<string>已经升级至顶级</string>
			</dict>
		</dict>
		
		<key>SuperMushroon</key>
		<dict>
			<key>superTimeBylevel</key>
			<dict>
				<key>level0</key>
				<string>20</string>
				<key>level1</key>
				<string>40</string>
				<key>level2</key>
				<string>50</string>
				<key>level3</key>
				<string>60</string>
				<key>level4</key>
				<string>70</string>
				<key>level5</key>
				<string>100</string>
			</dict>
			<key>LevelUpGoldNum</key>
			<dict>
				<key>level0</key>
				<string>190</string>
				<key>level1</key>
				<string>350</string>
				<key>level2</key>
				<string>600</string>
				<key>level3</key>
				<string>1120</string>
				<key>level4</key>
				<string>1650</string>
				<key>level5</key>
				<string>0</string>
			</dict>
			
			<key>superPhysicsInfor</key>
			<dict>
				<key>superEffectV</key>
				<string>600</string>
				<key>forceOfSuperEffect</key>
				<string>130</string>
				<key>angelOfSuperEffect</key>
				<string>35</string>
			</dict>
			<key>description</key>
			<dict>
				<key>level0</key>
				<string>热力蘑菇持续时间增加2秒</string>
				<key>level1</key>
				<string>热力蘑菇持续时间增加3秒</string>
				<key>level2</key>
				<string>热力蘑菇持续时间增加4秒</string>
				<key>level3</key>
				<string>热力蘑菇持续时间增加5秒</string>
				<key>level4</key>
				<string>热力蘑菇持续时间增加8秒</string>
				<key>level5</key>
				<string>已经升级至顶级</string>
			</dict>
		</dict>
		
		
		<key>SpringMushroon</key>
		<dict>
			<key>springPhysicsInfor</key>
			<dict>
				<key>SpringV</key>
				<string>950</string>
				<key>SpringVFroce</key>
				<string>80</string>
				<key>SpringVAngel</key>
				<string>45</string>
			</dict>
			<key>jumpNumBylevel</key>
			<dict>
				<key>level0</key>
				<string>0</string>
				<key>level1</key>
				<string>1</string>
				<key>level2</key>
				<string>2</string>
				<key>level3</key>
				<string>3</string>
				<key>level4</key>
				<string>4</string>
				<key>level5</key>
				<string>5</string>
				<key>level5</key>
				<string>1000</string>
			</dict>
			<key>LevelUpGoldNum</key>
			<dict>
				<key>level0</key>
				<string>220</string>
				<key>level1</key>
				<string>450</string>
				<key>level2</key>
				<string>900</string>
				<key>level3</key>
				<string>1320</string>
				<key>level4</key>
				<string>2150</string>
				<key>level5</key>
				<string>0</string>
			</dict>
			<key>description</key>
			<dict>
				<key>level0</key>
				<string>弹力蘑菇超级跳跃效果增加
				1个蘑菇</string>
				<key>level1</key>
				<string>弹力蘑菇超级跳跃效果增加
				2个蘑菇</string>
				<key>level2</key>
				<string>弹力蘑菇超级跳跃效果增加
				3个蘑菇</string>
				<key>level3</key>
				<string>弹力蘑菇超级跳跃效果增加
				4个蘑菇</string>
				<key>level4</key>
				<string>弹力蘑菇超级跳跃效果在落
				地前不会消失</string>
				<key>level5</key>
				<string>已经升级至顶级</string>
			</dict>
		</dict>
		<key>smurf</key>
		<dict>
			<key>percentByLevel</key>
			<dict>
				<key>level0</key>
				<string>5</string>
				<key>level1</key>
				<string>6</string>
				<key>level2</key>
				<string>8</string>
				<key>level3</key>
				<string>10</string>
				<key>level4</key>
				<string>13</string>
				<key>level5</key>
				<string>15</string>	
			</dict>
			<key>LevelUpGoldNum</key>
			<dict>
				<key>level0</key>
				<string>240</string>
				<key>level1</key>
				<string>550</string>
				<key>level2</key>
				<string>1300</string>
				<key>level3</key>
				<string>2120</string>
				<key>level4</key>
				<string>5150</string>
				<key>level5</key>
				<string>0</string>
			</dict>
			<key>description</key>
			<dict>
				<key>level0</key>
				<string>增加小精灵出现几率1%</string>
				<key>level1</key>
				<string>增加小精灵出现几率3%</string>
				<key>level2</key>
				<string>增加小精灵出现几率5%</string>
				<key>level3</key>
				<string>增加小精灵出现几率8%</string>
				<key>level4</key>
				<string>增加小精灵出现几率10%</string>
				<key>level5</key>
				<string>已经升级至顶级</string>
			</dict>			
		</dict>
	</dict>
</plist>

