<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- created with http://www.physicseditor.de -->

<plist version="1.0">
	<dict>
		
		
		
		<key>level1</key>
		<dict>
			<key>task</key>
			<dict>
				<key>task1-1</key>
				<dict>
					<key>taskCount</key>
					<string>1</string>
					<key>isInOneGame</key>
					<string>0</string>
				</dict>
				<key>task1-2</key>
				<dict>
					<key>taskCount</key>
					<string>1</string>
					<key>isInOneGame</key>
					<string>0</string>
				</dict>	
				<key>task1-3</key>
				<dict>
					<key>taskCount</key>
					<string>100</string>
					<key>isInOneGame</key>
					<string>0</string>
				</dict>	
			</dict>
			
			<key>goldNum</key>
			<dict>
				<key>gold1-1</key>
				<string>50</string>
				<key>gold1-2</key>
				<string>100</string>
				<key>gold1-3</key>
				<string>200</string>
			</dict>
			
			<key>Infor</key>
			<dict>
				<key>infor1-1</key>
				<string>完成一次combo*3</string>
				<key>infor1-2</key>
				<string>踩中一次狐狸的头</string>
				<key>infor1-3</key>
				<string>累积踩中100个蘑菇</string>
			</dict>
			
		</dict>
		
		
		
		<key>level2</key>
		<dict>
			<key>task</key>
			<dict>
				<key>task2-1</key>
				<dict>
					<key>taskCount</key>
					<string>20</string>
					<key>isInOneGame</key>
					<string>0</string>
				</dict>
				<key>task2-2</key>
				<dict>
					<key>taskCount</key>
					<string>1</string>
					<key>isInOneGame</key>
					<string>0</string>
				</dict>	
				<key>task2-3</key>
				<dict>
					<key>taskCount</key>
					<string>3600</string>
					<key>isInOneGame</key>
					<string>0</string>
				</dict>	
			</dict>
			
			<key>goldNum</key>
			<dict>
				<key>gold2-1</key>
				<string>200</string>
				<key>gold2-2</key>
				<string>300</string>
				<key>gold2-3</key>
				<string>250</string>
			</dict>
			
			<key>Infor</key>
			<dict>
				<key>infor2-1</key>
				<string>采集20个黄金蘑菇</string>
				<key>infor2-2</key>
				<string>使用一次胡萝卜冲刺</string>
				<key>infor2-3</key>
				<string>连续跳跃前进累积获得3600分</string>
			</dict>
		</dict>
		
		<key>level3</key>
		<dict>
			<key>task</key>
			<dict>
				<key>task3-1</key>
				<dict>
					<key>taskCount</key>
					<string>1</string>
					<key>isInOneGame</key>
					<string>0</string>
				</dict>
				<key>task3-2</key>
				<dict>
					<key>taskCount</key>
					<string>1</string>
					<key>isInOneGame</key>
					<string>0</string>
				</dict>	
				<key>task3-3</key>
				<dict>
					<key>taskCount</key>
					<string>5</string>
					<key>isInOneGame</key>
					<string>0</string>
				</dict>	
			</dict>
			
			<key>goldNum</key>
			<dict>
				<key>gold3-1</key>
				<string>300</string>
				<key>gold3-2</key>
				<string>200</string>
				<key>gold3-3</key>
				<string>250</string>
			</dict>
			
			<key>Infor</key>
			<dict>
				<key>infor3-1</key>
				<string>完成一次combo*5</string>
				<key>infor3-2</key>
				<string>使用胡萝卜冲刺撞到狐狸</string>
				<key>infor3-3</key>
				<string>累积进行五次游戏</string>
			</dict>
		</dict>
		
		
		<key>level4</key>
		<dict>
			<key>task</key>
			<dict>
				<key>task4-1</key>
				<dict>
					<key>taskCount</key>
					<string>3</string>
					<key>isInOneGame</key>
					<string>0</string>
				</dict>
				<key>task4-2</key>
				<dict>
					<key>taskCount</key>
					<string>30</string>
					<key>isInOneGame</key>
					<string>1</string>
				</dict>	
				<key>task4-3</key>
				<dict>
					<key>taskCount</key>
					<string>50000</string>
					<key>isInOneGame</key>
					<string>0</string>
				</dict>	
			</dict>
			
			<key>goldNum</key>
			<dict>
				<key>gold4-1</key>
				<string>500</string>
				<key>gold4-2</key>
				<string>400</string>
				<key>gold4-3</key>
				<string>600</string>
			</dict>
			
			<key>Infor</key>
			<dict>
				<key>infor4-1</key>
				<string>在胡萝卜冲刺中一次撞毁3个炸弹蘑菇</string>
				<key>infor4-2</key>
				<string>在一局游戏中踩中30个蘑菇</string>
				<key>infor4-3</key>
				<string>累积得到50000分</string>
			</dict>
		</dict>
		
		<key>level5</key>
		<dict>
			<key>task</key>
			<dict>
				<key>task5-1</key>
				<dict>
					<key>taskCount</key>
					<string>1</string>
					<key>isInOneGame</key>
					<string>0</string>
				</dict>
				<key>task5-2</key>
				<dict>
					<key>taskCount</key>
					<string>3</string>
					<key>isInOneGame</key>
					<string>1</string>
				</dict>	
				<key>task5-3</key>
				<dict>
					<key>taskCount</key>
					<string>6</string>
					<key>isInOneGame</key>
					<string>0</string>
				</dict>	
				
			</dict>
			
			<key>goldNum</key>
			<dict>
				<key>gold5-1</key>
				<string>50</string>
				<key>gold5-2</key>
				<string>100</string>
				<key>gold5-3</key>
				<string>200</string>
			</dict>
			
			<key>Infor</key>
			<dict>
				<key>infor5-1</key>
				<string>收集一个小精灵</string>
				<key>infor5-2</key>
				<string>在一次游戏中踩中3次狐狸的头</string>
				<key>infor5-3</key>
				<string>累积使用锤子摧毁六个炸弹蘑菇</string>
			</dict>
		</dict>
		
		<key>level6</key>
		<dict>
			<key>task</key>
			<dict>
				<key>task6-1</key>
				<dict>
					<key>taskCount</key>
					<string>1</string>
					<key>isInOneGame</key>
					<string>0</string>
				</dict>
				<key>task6-2</key>
				<dict>
					<key>taskCount</key>
					<string>200</string>
					<key>isInOneGame</key>
					<string>0</string>
				</dict>	
				<key>task6-3</key>
				<dict>
					<key>taskCount</key>
					<string>1</string>
					<key>isInOneGame</key>
					<string>0</string>
				</dict>	
			</dict>
			
			<key>goldNum</key>
			<dict>
				<key>gold6-1</key>
				<string>1500</string>
				<key>gold6-2</key>
				<string>2500</string>
				<key>gold6-3</key>
				<string>2000</string>
			</dict>
			
			<key>Infor</key>
			<dict>
				<key>infor6-1</key>
				<string>使用一次喷火器并且在落地前完成combo*3</string>
				<key>infor6-2</key>
				<string>累积踩200个蘑菇</string>
				<key>infor6-3</key>
				<string>连续大跳3次</string>
			</dict>
		</dict>
		
		<key>level7</key>
		<dict>
			<key>task</key>
			<dict>
				<key>task7-1</key>
				<dict>
					<key>taskCount</key>
					<string>150</string>
					<key>isInOneGame</key>
					<string>0</string>
				</dict>
				<key>task7-2</key>
				<dict>
					<key>taskCount</key>
					<string>1</string>
					<key>isInOneGame</key>
					<string>1</string>
				</dict>	
				<key>task7-3</key>
				<dict>
					<key>taskCount</key>
					<string>1</string>
					<key>isInOneGame</key>
					<string>1</string>
				</dict>	
			</dict>
			
			<key>goldNum</key>
			<dict>
				<key>gold7-1</key>
				<string>3000</string>
				<key>gold7-2</key>
				<string>2500</string>
				<key>gold7-3</key>
				<string>2800</string>
			</dict>
			
			<key>Infor</key>
			<dict>
				<key>infor7-1</key>
				<string>让狐狸累积眩晕15秒</string>
				<key>infor7-2</key>
				<string>在一次游戏中达到30000分</string>
				<key>infor7-3</key>
				<string>在游戏中静止6秒钟且不被狐狸抓住</string>
			</dict>
		</dict>
		
		<key>level8</key>
		<dict>
			<key>task</key>
			<dict>
				<key>task8-1</key>
				<dict>
					<key>taskCount</key>
					<string>1</string>
					<key>isInOneGame</key>
					<string>1</string>
				</dict>
				<key>task8-2</key>
				<dict>
					<key>taskCount</key>
					<string>30</string>
					<key>isInOneGame</key>
					<string>0</string>
				</dict>	
				<key>task8-3</key>
				<dict>
					<key>taskCount</key>
					<string>1</string>
					<key>isInOneGame</key>
					<string>0</string>
				</dict>	
			</dict>
			
			<key>goldNum</key>
			<dict>
				<key>gold8-1</key>
				<string>3200</string>
				<key>gold8-2</key>
				<string>4500</string>
				<key>gold8-3</key>
				<string>3800</string>
			</dict>
			
			
			<key>Infor</key>
			<dict>
				<key>infor8-1</key>
				<string>完成一次combo*8</string>
				<key>infor8-2</key>
				<string>累积收集30个胡萝卜</string>
				<key>infor8-3</key>
				<string>在得到30000分后使用一次竹蜻蜓</string>
			</dict>
		</dict>
		
		<key>level9</key>
		<dict>
			<key>task</key>
			<dict>
				<key>task9-1</key>
				<dict>
					<key>taskCount</key>
					<string>1</string>
					<key>isInOneGame</key>
					<string>0</string>
				</dict>
				<key>task9-2</key>
				<dict>
					<key>taskCount</key>
					<string>1</string>
					<key>isInOneGame</key>
					<string>0</string>
				</dict>	
				<key>task9-3</key>
				<dict>
					<key>taskCount</key>
					<string>5</string>
					<key>isInOneGame</key>
					<string>0</string>
				</dict>	
			</dict>
			
			<key>goldNum</key>
			<dict>
				<key>gold9-1</key>
				<string>4800</string>
				<key>gold9-2</key>
				<string>4500</string>
				<key>gold9-3</key>
				<string>5200</string>
			</dict>
			
			<key>Infor</key>
			<dict>
				<key>infor9-1</key>
				<string>在离狐狸很近的距离内使用一次安全气囊</string>
				<key>infor9-2</key>
				<string>再一次游戏中达到40000分</string>
				<key>infor9-3</key>
				<string>累积收集5个小精灵</string>
			</dict>
		</dict>
		
		<key>level10</key>
		<dict>
			<key>task</key>
			<dict>
				<key>task10-1</key>
				<dict>
					<key>taskCount</key>
					<string>5</string>
					<key>isInOneGame</key>
					<string>1</string>
				</dict>
				<key>task10-2</key>
				<dict>
					<key>taskCount</key>
					<string>1</string>
					<key>isInOneGame</key>
					<string>0</string>
				</dict>	
				<key>task10-3</key>
				<dict>
					<key>taskCount</key>
					<string>1</string>
					<key>isInOneGame</key>
					<string>0</string>
				</dict>	
			</dict>
			
			<key>goldNum</key>
			<dict>
				<key>gold10-1</key>
				<string>7000</string>
				<key>gold10-2</key>
				<string>7500</string>
				<key>gold10-3</key>
				<string>8000</string>
			</dict>
			
			<key>Infor</key>
			<dict>
				<key>infor10-1</key>
				<string>在一次游戏中，踩中5次狐狸的头</string>
				<key>infor10-2</key>
				<string>使用胡萝卜冲刺撞毁6个炸弹蘑菇</string>
				<key>infor10-3</key>
				<string>在一次游戏中达到50000分</string>
			</dict>
		</dict>
	</dict>
</plist>

