<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- created with http://www.physicseditor.de -->
<!-- all translate about the symbols -->
<plist version="1.0">
	<dict>
		<key>symbol</key>
		<dict>
			<key>symbol_1</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol1.jpg</string>
				<key>content</key>
				<string>贪污；corruption</string>
			</dict>
			<key>symbol_2</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol2.jpg</string>
				<key>content</key>
				<string>循环</string>
			</dict>
			<key>symbol_3</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol3.jpg</string>
				<key>content</key>
				<string>实际；事实</string>
			</dict>
			<key>symbol_4</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol4.jpg</string>
				<key>content</key>
				<string>分裂</string>
			</dict>
			<key>symbol_5</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol5.jpg</string>
				<key>content</key>
				<string>论坛</string>
			</dict>
			<key>symbol_6</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol6.jpg</string>
				<key>content</key>
				<string>结构</string>
			</dict>
			<key>symbol_7</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol7.jpg</string>
				<key>content</key>
				<string>看</string>
			</dict>
			<key>symbol_8</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol8.jpg</string>
				<key>content</key>
				<string>趋势</string>
			</dict>
			<key>symbol_9</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol9.jpg</string>
				<key>content</key>
				<string>说；言语</string>
			</dict>
			<key>symbol_10</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol10.jpg</string>
				<key>content</key>
				<string>再次；重新；返回</string>
			</dict>
			<key>symbol_11</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol11.jpg</string>
				<key>content</key>
				<string>斗争；冲突；
				对抗；对峙</string>
			</dict>
			<key>symbol_12</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol12.jpg</string>
				<key>content</key>
				<string>words</string>
			</dict>
			<key>symbol_13</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol13.jpg</string>
				<key>content</key>
				<string>传统</string>
			</dict>
			<key>symbol_14</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol14.jpg</string>
				<key>content</key>
				<string>吃；食物</string>
			</dict>
			<key>symbol_15</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol15.jpg</string>
				<key>content</key>
				<string>参加</string>
			</dict>
			<key>symbol_16</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol16.jpg</string>
				<key>content</key>
				<string>理论</string>
			</dict>
			<key>symbol_17</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol17.jpg</string>
				<key>content</key>
				<string>理论</string>
			</dict>
			<key>symbol_18</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol18.jpg</string>
				<key>content</key>
				<string>社会福利</string>
			</dict>
			<key>symbol_19</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol19.jpg</string>
				<key>content</key>
				<string>机会</string>
			</dict>
			<key>symbol_20</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol20.jpg</string>
				<key>content</key>
				<string>信息</string>
			</dict>
			<key>symbol_21</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol21.jpg</string>
				<key>content</key>
				<string>经贸</string>
			</dict>
			<key>symbol_22</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol22.jpg</string>
				<key>content</key>
				<string>学生</string>
			</dict>		
			<key>symbol_23</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol23.jpg</string>
				<key>content</key>
				<string>大多数；主要的</string>
			</dict>	
			<key>symbol_24</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol24.jpg</string>
				<key>content</key>
				<string>史无前例</string>
			</dict>	
			<key>symbol_25</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol25.jpg</string>
				<key>content</key>
				<string>高兴</string>
			</dict>	
			<key>symbol_26</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol26.jpg</string>
				<key>content</key>
				<string>困难；困境；挣扎</string>
			</dict>	
			<key>symbol_27</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol27.jpg</string>
				<key>content</key>
				<string>社会福利</string>
			</dict>	
			<key>symbol_28</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol28.jpg</string>
				<key>content</key>
				<string>气候变化</string>
			</dict>	
			<key>symbol_29</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol29.jpg</string>
				<key>content</key>
				<string>with</string>
			</dict>	
			<key>symbol_30</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol30.jpg</string>
				<key>content</key>
				<string>逐渐，一直</string>
			</dict>	
			<key>symbol_31</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol31.jpg</string>
				<key>content</key>
				<string>技术</string>
			</dict>	
			<key>symbol_32</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol32.jpg</string>
				<key>content</key>
				<string>少数，次要的</string>
			</dict>	
			<key>symbol_33</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol33.jpg</string>
				<key>content</key>
				<string>地区</string>
			</dict>	
			<key>symbol_34</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol34.jpg</string>
				<key>content</key>
				<string>支持</string>
			</dict>	
			<key>symbol_35</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol35.jpg</string>
				<key>content</key>
				<string>industry；产业；
				工业</string>
			</dict>	
			<key>symbol_36</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol36.jpg</string>
				<key>content</key>
				<string>小微企业</string>
			</dict>	
			<key>symbol_37</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol37.jpg</string>
				<key>content</key>
				<string>恐怖（分子）（主义）</string>
			</dict>	
			<key>symbol_38</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol38.jpg</string>
				<key>content</key>
				<string>强大；强力；强壮</string>
			</dict>	
			<key>symbol_39</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol39.jpg</string>
				<key>content</key>
				<string>亚太</string>
			</dict>	
			<key>symbol_40</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol40.jpg</string>
				<key>content</key>
				<string>少数民族</string>
			</dict>	
			<key>symbol_41</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol41.jpg</string>
				<key>content</key>
				<string>非政府组织</string>
			</dict>	
			<key>symbol_42</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol42.jpg</string>
				<key>content</key>
				<string>总部</string>
			</dict>	
			<key>symbol_43</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol43.jpg</string>
				<key>content</key>
				<string>更强；加强</string>
			</dict>	
			<key>symbol_44</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol44.jpg</string>
				<key>content</key>
				<string>国有企业</string>
			</dict>	
			<key>symbol_45</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol45.jpg</string>
				<key>content</key>
				<string>平衡</string>
			</dict>	
			<key>symbol_46</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol46.jpg</string>
				<key>content</key>
				<string>动物</string>
			</dict>				
			<key>symbol_47</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol47.jpg</string>
				<key>content</key>
				<string>海平面上升</string>
			</dict>	
			<key>symbol_48</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol48.jpg</string>
				<key>content</key>
				<string>措施</string>
			</dict>	
			<key>symbol_49</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol49.jpg</string>
				<key>content</key>
				<string>特点；特征</string>
			</dict>	
			<key>symbol_50</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol50.jpg</string>
				<key>content</key>
				<string>总统；主席</string>
			</dict>	
			<key>symbol_51</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol51.jpg</string>
				<key>content</key>
				<string>公司</string>
			</dict>	
			<key>symbol_52</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol52.jpg</string>
				<key>content</key>
				<string>现代化</string>
			</dict>	
			<key>symbol_53</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol53.jpg</string>
				<key>content</key>
				<string>温室气体</string>
			</dict>		
			<key>symbol_54</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol54.jpg</string>
				<key>content</key>
				<string>世纪</string>
			</dict>		
			<key>symbol_55</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol55.jpg</string>
				<key>content</key>
				<string>采取措施</string>
			</dict>		
			<key>symbol_56</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol56.jpg</string>
				<key>content</key>
				<string>发言人</string>
			</dict>		
			<key>symbol_57</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol57.jpg</string>
				<key>content</key>
				<string>部门；组织；机构</string>
			</dict>					
			<key>symbol_58</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol58.jpg</string>
				<key>content</key>
				<string>应对；处理；做成</string>
			</dict>		
			<key>symbol_59</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol59.jpg</string>
				<key>content</key>
				<string>现任总统</string>
			</dict>		
			<key>symbol_60</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol60.jpg</string>
				<key>content</key>
				<string>改革</string>
			</dict>		
			<key>symbol_61</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol61.jpg</string>
				<key>content</key>
				<string>快</string>
			</dict>		
			<key>symbol_62</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol62.jpg</string>
				<key>content</key>
				<string>小康</string>
			</dict>		
			<key>symbol_63</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol63.jpg</string>
				<key>content</key>
				<string>增加</string>
			</dict>		
			<key>symbol_64</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol64.jpg</string>
				<key>content</key>
				<string>之前</string>
			</dict>		
			<key>symbol_65</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol65.jpg</string>
				<key>content</key>
				<string>转变；改变；扭转</string>
			</dict>		
			<key>symbol_66</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol66.jpg</string>
				<key>content</key>
				<string>目标；目的</string>
			</dict>		
			<key>symbol_67</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol67.jpg</string>
				<key>content</key>
				<string>教育</string>
			</dict>		
			<key>symbol_68</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol68.jpg</string>
				<key>content</key>
				<string>同时；以及；和</string>
			</dict>		
			<key>symbol_69</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol69.jpg</string>
				<key>content</key>
				<string>延续；某事持续发展</string>
			</dict>					
			<key>symbol_70</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol70.jpg</string>
				<key>content</key>
				<string>污染</string>
			</dict>		
			<key>symbol_71</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol71.jpg</string>
				<key>content</key>
				<string>增加到</string>
			</dict>		
			<key>symbol_72</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol72.jpg</string>
				<key>content</key>
				<string>经济</string>
			</dict>		
			<key>symbol_73</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol73.jpg</string>
				<key>content</key>
				<string>控制</string>
			</dict>		
			<key>symbol_74</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol74.jpg</string>
				<key>content</key>
				<string>加快</string>
			</dict>		
			<key>symbol_75</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol75.jpg</string>
				<key>content</key>
				<string>之后</string>
			</dict>		
			<key>symbol_76</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol76.jpg</string>
				<key>content</key>
				<string>农业</string>
			</dict>		
			<key>symbol_77</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol77.jpg</string>
				<key>content</key>
				<string>开发</string>
			</dict>		
			<key>symbol_78</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol78.jpg</string>
				<key>content</key>
				<string>进一步开放</string>
			</dict>		
			<key>symbol_79</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol79.jpg</string>
				<key>content</key>
				<string>破坏</string>
			</dict>		
			<key>symbol_80</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol80.jpg</string>
				<key>content</key>
				<string>控制</string>
			</dict>		
			<key>symbol_81</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol81.jpg</string>
				<key>content</key>
				<string>安全；安保；保安</string>
			</dict>		
			<key>symbol_82</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol82.jpg</string>
				<key>content</key>
				<string>政治</string>
			</dict>		
			<key>symbol_83</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol83.jpg</string>
				<key>content</key>
				<string>保持；继续</string>
			</dict>		
			<key>symbol_84</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol84.jpg</string>
				<key>content</key>
				<string>以人为本</string>
			</dict>		
			<key>symbol_85</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol85.jpg</string>
				<key>content</key>
				<string>系统</string>
			</dict>		
			<key>symbol_86</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol86.jpg</string>
				<key>content</key>
				<string>鼓舞；鼓励；煽动</string>
			</dict>		
			<key>symbol_87</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol87.jpg</string>
				<key>content</key>
				<string>商业</string>
			</dict>		
			<key>symbol_88</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol88.jpg</string>
				<key>content</key>
				<string>社会</string>
			</dict>		
			<key>symbol_89</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol89.jpg</string>
				<key>content</key>
				<string>减少到</string>
			</dict>		
			<key>symbol_90</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol90.jpg</string>
				<key>content</key>
				<string>科学</string>
			</dict>		
			<key>symbol_91</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol91.jpg</string>
				<key>content</key>
				<string>进一步开放</string>
			</dict>		
			<key>symbol_92</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol92.jpg</string>
				<key>content</key>
				<string>可持续发展</string>
			</dict>		
			<key>symbol_93</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol93.jpg</string>
				<key>content</key>
				<string>逐步加快</string>
			</dict>		
			<key>symbol_94</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol94.jpg</string>
				<key>content</key>
				<string>负面情绪</string>
			</dict>					
			<key>symbol_95</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol95.jpg</string>
				<key>content</key>
				<string>文化</string>
			</dict>		
			<key>symbol_96</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol96.jpg</string>
				<key>content</key>
				<string>市场；营销</string>
			</dict>		
			<key>symbol_97</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol97.jpg</string>
				<key>content</key>
				<string>和平安全</string>
			</dict>		
			<key>symbol_98</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol98.jpg</string>
				<key>content</key>
				<string>总数；总计；总产量</string>
			</dict>		
			<key>symbol_99</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol99.jpg</string>
				<key>content</key>
				<string>关系；合作；联系；
				伙伴关系</string>
			</dict>	
			<key>symbol_100</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol99.jpg</string>
				<key>content</key>
				<string>持续发展</string>
			</dict>					
			<key>symbol_101</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol01.jpg</string>
				<key>content</key>
				<string>经理</string>
			</dict>		
			<key>symbol_102</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol102.jpg</string>
				<key>content</key>
				<string>环境</string>
			</dict>		
			<key>symbol_103</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol103.jpg</string>
				<key>content</key>
				<string>财政</string>
			</dict>		
			<key>symbol_104</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol104.jpg</string>
				<key>content</key>
				<string>签署；签订</string>
			</dict>		
			<key>symbol_105</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol105.jpg</string>
				<key>content</key>
				<string>问题；疑惑；疑问；
				不确定</string>
			</dict>
			<key>symbol_106</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol106.jpg</string>
				<key>content</key>
				<string>伙伴</string>
			</dict>		
			<key>symbol_107</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol107.jpg</string>
				<key>content</key>
				<string>资源</string>
			</dict>	
			<key>symbol_108</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol108.jpg</string>
				<key>content</key>
				<string>想；想法；想念；思考</string>
			</dict>	
			<key>symbol_109</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol109.jpg</string>
				<key>content</key>
				<string>挑战</string>
			</dict>	
			<key>symbol_110</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol110.jpg</string>
				<key>content</key>
				<string>管理；manage</string>
			</dict>	
			<key>symbol_111</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol111.jpg</string>
				<key>content</key>
				<string>资本主义</string>
			</dict>	
			<key>symbol_112</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol112.jpg</string>
				<key>content</key>
				<string>战略</string>
			</dict>	
			<key>symbol_113</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol113.jpg</string>
				<key>content</key>
				<string>会议；议会；大会</string>
			</dict>	
			<key>symbol_114</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol114.jpg</string>
				<key>content</key>
				<string>贸易</string>
			</dict>	
			<key>symbol_115</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol115.jpg</string>
				<key>content</key>
				<string>能源</string>
			</dict>	
			<key>symbol_116</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol116.jpg</string>
				<key>content</key>
				<string>社会主义</string>
			</dict>	
			<key>symbol_117</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol117.jpg</string>
				<key>content</key>
				<string>家；发源地</string>
			</dict>	
			<key>symbol_118</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol118.jpg</string>
				<key>content</key>
				<string>community；社区；
				（科学、文艺）界</string>
			</dict>	
			<key>symbol_119</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol119.jpg</string>
				<key>content</key>
				<string>喜欢，高兴</string>
			</dict>	
			<key>symbol_120</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol120.jpg</string>
				<key>content</key>
				<string>全部；完整；圆满</string>
			</dict>	
			<key>symbol_121</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol121.jpg</string>
				<key>content</key>
				<string>主权完整</string>
			</dict>	
			<key>symbol_122</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol122.jpg</string>
				<key>content</key>
				<string>过去</string>
			</dict>	
			<key>symbol_123</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol123.jpg</string>
				<key>content</key>
				<string>海峡；Channel</string>
			</dict>	
			<key>symbol_124</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol124.jpg</string>
				<key>content</key>
				<string>关税</string>
			</dict>	
			<key>symbol_125</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol125.jpg</string>
				<key>content</key>
				<string>政治</string>
			</dict>	
			<key>symbol_126</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol126.jpg</string>
				<key>content</key>
				<string>民主</string>
			</dict>	
			<key>symbol_127</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol127.jpg</string>
				<key>content</key>
				<string>等于；就是；即为；平衡</string>
			</dict>	
			<key>symbol_128</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol128.jpg</string>
				<key>content</key>
				<string>暴政；专制；残忍；残暴</string>
			</dict>	
			<key>symbol_129</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol129.jpg</string>
				<key>content</key>
				<string>通货膨胀；节日；庆祝</string>
			</dict>	
			<key>symbol_130</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol130.jpg</string>
				<key>content</key>
				<string>更多</string>
			</dict>	
			<key>symbol_131</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol131.jpg</string>
				<key>content</key>
				<string>不同；差异；不平等；
				分歧</string>
			</dict>	
			<key>symbol_132</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol132.jpg</string>
				<key>content</key>
				<string>银行</string>
			</dict>	
			<key>symbol_133</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol133.jpg</string>
				<key>content</key>
				<string>生产；产品</string>
			</dict>	
			<key>symbol_134</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol134.jpg</string>
				<key>content</key>
				<string>未来</string>
			</dict>	
			<key>symbol_135</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol135.jpg</string>
				<key>content</key>
				<string>国民；人民；民族</string>
			</dict>	
			<key>symbol_136</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol136.jpg</string>
				<key>content</key>
				<string>从属；属于；附属</string>
			</dict>	
			<key>symbol_137</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol137.jpg</string>
				<key>content</key>
				<string>重要；基础；首要</string>
			</dict>	
			<key>symbol_138</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol138.jpg</string>
				<key>content</key>
				<string>大约</string>
			</dict>	
			<key>symbol_139</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol139.jpg</string>
				<key>content</key>
				<string>对话</string>
			</dict>	
			<key>symbol_140</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol140.jpg</string>
				<key>content</key>
				<string>更少</string>
			</dict>	
			<key>symbol_141</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol141.jpg</string>
				<key>content</key>
				<string>政策</string>
			</dict>	
			<key>symbol_142</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol142.jpg</string>
				<key>content</key>
				<string>年初</string>
			</dict>	
			<key>symbol_143</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol143.jpg</string>
				<key>content</key>
				<string>展望未来；预测</string>
			</dict>	
			<key>symbol_144</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol144.jpg</string>
				<key>content</key>
				<string>顶；峰</string>
			</dict>	
			<key>symbol_145</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol145.jpg</string>
				<key>content</key>
				<string>发展</string>
			</dict>	
			<key>symbol_146</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol146.jpg</string>
				<key>content</key>
				<string>互联网</string>
			</dict>	
			<key>symbol_147</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol147.jpg</string>
				<key>content</key>
				<string>国家</string>
			</dict>	
			<key>symbol_148</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol148.jpg</string>
				<key>content</key>
				<string>最少</string>
			</dict>	
			<key>symbol_149</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol149.jpg</string>
				<key>content</key>
				<string>关于；有关联</string>
			</dict>	
			<key>symbol_150</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol150.jpg</string>
				<key>content</key>
				<string>重视；强调</string>
			</dict>	
			<key>symbol_151</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol151.jpg</string>
				<key>content</key>
				<string>领导</string>
			</dict>	
			<key>symbol_152</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol152.jpg</string>
				<key>content</key>
				<string>回顾过去；回看</string>
			</dict>	
			<key>symbol_153</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol153.jpg</string>
				<key>content</key>
				<string>和平</string>
			</dict>	
			<key>symbol_154</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol154.jpg</string>
				<key>content</key>
				<string>年中</string>
			</dict>	
			<key>symbol_155</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol155.jpg</string>
				<key>content</key>
				<string>发展中</string>
			</dict>	
			<key>symbol_156</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol156.jpg</string>
				<key>content</key>
				<string>天</string>
			</dict>	
			<key>symbol_157</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol157.jpg</string>
				<key>content</key>
				<string>国际；无国界</string>
			</dict>	
			<key>symbol_158</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol158.jpg</string>
				<key>content</key>
				<string>更好</string>
			</dict>	
			<key>symbol_159</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol159.jpg</string>
				<key>content</key>
				<string>国家领导</string>
			</dict>	
			<key>symbol_160</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol160.jpg</string>
				<key>content</key>
				<string>政府</string>
			</dict>	
			<key>symbol_161</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol161.jpg</string>
				<key>content</key>
				<string>影响；impact；brunt</string>
			</dict>	
			<key>symbol_162</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol162.jpg</string>
				<key>content</key>
				<string>警察；维和人员</string>
			</dict>	
			<key>symbol_163</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol163.jpg</string>
				<key>content</key>
				<string>年末</string>
			</dict>	
			<key>symbol_164</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol164.jpg</string>
				<key>content</key>
				<string>今天</string>
			</dict>	
			<key>symbol_165</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol165.jpg</string>
				<key>content</key>
				<string>欠发达</string>
			</dict>	
			<key>symbol_166</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol166.jpg</string>
				<key>content</key>
				<string>最好</string>
			</dict>	
			<key>symbol_167</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol167.jpg</string>
				<key>content</key>
				<string>全球；地球；世界</string>
			</dict>	
			<key>symbol_168</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol168.jpg</string>
				<key>content</key>
				<string>危险；有害；警告；当心</string>
			</dict>	
			<key>symbol_169</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol169.jpg</string>
				<key>content</key>
				<string>压力；负担</string>
			</dict>	
			<key>symbol_170</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol170.jpg</string>
				<key>content</key>
				<string>国外；海外</string>
			</dict>	
			<key>symbol_171</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol171.jpg</string>
				<key>content</key>
				<string>城市；城镇；城</string>
			</dict>	
			<key>symbol_172</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol172.jpg</string>
				<key>content</key>
				<string>周</string>
			</dict>	
			<key>symbol_173</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol173.jpg</string>
				<key>content</key>
				<string>好处；利润；成果；成就</string>
			</dict>					
			<key>symbol_174</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol174.jpg</string>
				<key>content</key>
				<string>智商</string>
			</dict>		
			<key>symbol_175</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol175.jpg</string>
				<key>content</key>
				<string>更坏</string>
			</dict>		
			<key>symbol_176</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol176.jpg</string>
				<key>content</key>
				<string>发达国家</string>
			</dict>		
			<key>symbol_177</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol177.jpg</string>
				<key>content</key>
				<string>管理；manage</string>
			</dict>		
			<key>symbol_178</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol178.jpg</string>
				<key>content</key>
				<string>全球化</string>
			</dict>		
			<key>symbol_179</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol179.jpg</string>
				<key>content</key>
				<string>落后；偏僻；乡村</string>
			</dict>		
			<key>symbol_180</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol180.jpg</string>
				<key>content</key>
				<string>协议；公约</string>
			</dict>		
			<key>symbol_181</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol181.jpg</string>
				<key>content</key>
				<string>国内；国民</string>
			</dict>		
			<key>symbol_182</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol182.jpg</string>
				<key>content</key>
				<string>成功；胜利</string>
			</dict>		
			<key>symbol_183</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol183.jpg</string>
				<key>content</key>
				<string>解决；消除；废除</string>
			</dict>		
			<key>symbol_184</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol184.jpg</string>
				<key>content</key>
				<string>保护；shield；shelter</string>
			</dict>		
			<key>symbol_185</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol185.jpg</string>
				<key>content</key>
				<string>最坏</string>
			</dict>		
			<key>symbol_186</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol186.jpg</string>
				<key>content</key>
				<string>更</string>
			</dict>		
			<key>symbol_187</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol187.jpg</string>
				<key>content</key>
				<string>年</string>
			</dict>		
			<key>symbol_188</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol188.jpg</string>
				<key>content</key>
				<string>转折；但是；尽管</string>
			</dict>		
			<key>symbol_189</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol189.jpg</string>
				<key>content</key>
				<string>开始；创新；创造；
				出现；发生</string>
			</dict>		
			<key>symbol_190</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol190.jpg</string>
				<key>content</key>
				<string>定语</string>
			</dict>		
			<key>symbol_191</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol191.jpg</string>
				<key>content</key>
				<string>交通运输</string>
			</dict>		
			<key>symbol_192</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol192.jpg</string>
				<key>content</key>
				<string>国内外</string>
			</dict>		
			<key>symbol_193</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol193.jpg</string>
				<key>content</key>
				<string>预防</string>
			</dict>		
			<key>symbol_194</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol194.jpg</string>
				<key>content</key>
				<string>额外；另外</string>
			</dict>		
			<key>symbol_195</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol195.jpg</string>
				<key>content</key>
				<string>钱；财富</string>
			</dict>		
			<key>symbol_196</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol196.jpg</string>
				<key>content</key>
				<string>最</string>
			</dict>		
			<key>symbol_197</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol197.jpg</string>
				<key>content</key>
				<string>研发</string>
			</dict>		
			<key>symbol_198</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol198.jpg</string>
				<key>content</key>
				<string>因为；由于</string>
			</dict>		
			<key>symbol_199</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol199.jpg</string>
				<key>content</key>
				<string>出口</string>
			</dict>		
			<key>symbol_200</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol200.jpg</string>
				<key>content</key>
				<string>状语后置</string>
			</dict>		
			<key>symbol_201</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol201.jpg</string>
				<key>content</key>
				<string>生活水平提高</string>
			</dict>		
			<key>symbol_202</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol202.jpg</string>
				<key>content</key>
				<string>意义</string>
			</dict>		
			<key>symbol_203</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol203.jpg</string>
				<key>content</key>
				<string>各族人民</string>
			</dict>		
			<key>symbol_204</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol204.jpg</string>
				<key>content</key>
				<string>除了</string>
			</dict>		
			<key>symbol_205</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol205.jpg</string>
				<key>content</key>
				<string>进口</string>
			</dict>		
			<key>symbol_206</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol206.jpg</string>
				<key>content</key>
				<string>投资</string>
			</dict>		
			<key>symbol_207</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol207.jpg</string>
				<key>content</key>
				<string>科技</string>
			</dict>		
			<key>symbol_208</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol208.jpg</string>
				<key>content</key>
				<string>多</string>
			</dict>		
			<key>symbol_209</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol209.jpg</string>
				<key>content</key>
				<string>后代</string>
			</dict>		
			<key>symbol_210</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol210.jpg</string>
				<key>content</key>
				<string>所以；因此</string>
			</dict>		
			<key>symbol_211</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol211.jpg</string>
				<key>content</key>
				<string>建设；建立；设立</string>
			</dict>		
			<key>symbol_212</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol212.jpg</string>
				<key>content</key>
				<string>经济水平提高</string>
			</dict>		
			<key>symbol_213</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol213.jpg</string>
				<key>content</key>
				<string>超过</string>
			</dict>		
			<key>symbol_214</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol1214.jpg</string>
				<key>content</key>
				<string>国家统一</string>
			</dict>		
			<key>symbol_215</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol215.jpg</string>
				<key>content</key>
				<string>税收</string>
			</dict>		
			<key>symbol_216</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol216.jpg</string>
				<key>content</key>
				<string>进出口；外贸</string>
			</dict>		
			<key>symbol_217</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol217.jpg</string>
				<key>content</key>
				<string>繁荣；发展</string>
			</dict>		
			<key>symbol_218</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol218.jpg</string>
				<key>content</key>
				<string>少</string>
			</dict>		
			<key>symbol_219</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol219.jpg</string>
				<key>content</key>
				<string>潜力</string>
			</dict>		
			<key>symbol_220</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol220.jpg</string>
				<key>content</key>
				<string>健康</string>
			</dict>		
			<key>symbol_221</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol221.jpg</string>
				<key>content</key>
				<string>act；action；
				行动；法案</string>
			</dict>		
			<key>symbol_222</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol222.jpg</string>
				<key>content</key>
				<string>社保体系</string>
			</dict>		
			<key>symbol_223</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol223.jpg</string>
				<key>content</key>
				<string>低于</string>
			</dict>		
			<key>symbol_224</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol224.jpg</string>
				<key>content</key>
				<string>收税</string>
			</dict>		
			<key>symbol_225</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol225.jpg</string>
				<key>content</key>
				<string>领土完整</string>
			</dict>		
			<key>symbol_226</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol226.jpg</string>
				<key>content</key>
				<string>终于；结束；
				完成；毕业；闭幕</string>
			</dict>		
			<key>symbol_227</key>
			<dict>
				<key>icon</key>
				<string>symbol/symbol227.jpg</string>
				<key>content</key>
				<string>病人；病</string>
			</dict>					
		</dict>
		<!-- reserve -->
		<key>reserve</key>
		<dict>
			<key>item_1</key>
			<dict>
				<key>icon</key>
				<string>shop/gold-1.jpg</string>
				<key>content</key>
				<string>1000</string>
			</dict>
			<key>item_2</key>
			<dict>
				<key>icon</key>
				<string>shop/gold-1.jpg</string>
				<key>content</key>
				<string>1000</string>
			</dict>
			<key>item_3</key>
			<dict>
				<key>icon</key>
				<string>shop/gold-1.jpg</string>
				<key>content</key>
				<string>1000</string>
			</dict>
		</dict>
	</dict>
</plist>

